layout julia

nix_direnv_watch_file pyproject.toml poetry.lock R-dependencies.txt nix/devenv.nix datasets.toml nix/datasets.nix

if ! use flake . --impure
then
  echo "devenv could not be build." >&2
fi
