nix_direnv_watch_file pyproject.toml poetry.lock R-dependencies.txt datasets.toml Project.toml nix/{devenv.nix,datasets.nix,juliaPackageOverrides.toml}

if ! use flake . --impure
then
  echo "devenv could not be build." >&2
fi
